In [ ]:
import pandas as pd

In [3]:
df = pd.read_excel(r'C:\Users\sawle\Data Science\weekday_2019_07_04\Australia.xlsx',skiprows = 20, sheet_name = 'Australia by Residence')

print(df.head())

        Type Coverage          OdName  AREA AreaName   REG          RegName  \
0  Emigrants     Both     Afghanistan   935     Asia  5501    Southern Asia
1  Emigrants     Both         Albania   908   Europe   925  Southern Europe
2  Emigrants     Both         Algeria   903   Africa   912  Northern Africa
3  Emigrants     Both  American Samoa   909  Oceania   957        Polynesia
4  Emigrants     Both         Andorra   908   Europe   925  Southern Europe

   DEV             DevName  1980  ...  2004  2005  2006  2007  2008  2009  \
0  902  Developing regions     0  ...    80   120    70    80   120    ..
1  901   Developed regions     0  ...    30    40    30    30    30    ..
2  902  Developing regions    20  ...    20    20    30    40    50    ..
3  902  Developing regions    10  ...     0     0     0     0     0    ..
4  901   Developed regions     0  ...     0     0     0     0     0    ..

   2010  2011  2012  2013
0    ..    ..    ..    ..
1    ..    ..    ..    ..
2    ..    ..    ..    ..
3    ..    ..    ..    ..
4    ..    ..    ..    ..

[5 rows x 43 columns]

In [7]:
print(df.columns) # column index
print(df.index) # row index
print(df.shape)
print(df.size)

Index([    'Type', 'Coverage',   'OdName',     'AREA', 'AreaName',      'REG',
        'RegName',      'DEV',  'DevName',       1980,       1981,       1982,
             1983,       1984,       1985,       1986,       1987,       1988,
             1989,       1990,       1991,       1992,       1993,       1994,
             1995,       1996,       1997,       1998,       1999,       2000,
             2001,       2002,       2003,       2004,       2005,       2006,
             2007,       2008,       2009,       2010,       2011,       2012,
             2013],
      dtype='object')
RangeIndex(start=0, stop=448, step=1)
(448, 43)
19264

In [9]:
print(df.describe(include = 'all'))

# different areas

             Type Coverage  OdName        AREA AreaName          REG  \
count         448      448     448  448.000000      448   448.000000
unique          2        1     224         NaN        7          NaN
top     Emigrants     Both  Jordan         NaN   Africa          NaN
freq          224      448       2         NaN      112          NaN
mean          NaN      NaN     NaN  912.955357      NaN  1208.040179
std           NaN      NaN     NaN   15.019682      NaN  1109.669573
min           NaN      NaN     NaN  903.000000      NaN   905.000000
25%           NaN      NaN     NaN  903.750000      NaN   914.000000
50%           NaN      NaN     NaN  908.000000      NaN   922.000000
75%           NaN      NaN     NaN  909.000000      NaN   926.000000
max           NaN      NaN     NaN  999.000000      NaN  5501.000000

          RegName         DEV             DevName           1980  ...  \
count         448  448.000000                 448     448.000000  ...
unique         23         NaN                   3            NaN  ...
top     Caribbean         NaN  Developing regions            NaN  ...
freq           46         NaN                 344            NaN  ...
mean          NaN  902.642857                 NaN    1228.348214  ...
std           NaN    9.165500                 NaN   10145.734028  ...
min           NaN  901.000000                 NaN       0.000000  ...
25%           NaN  902.000000                 NaN       0.000000  ...
50%           NaN  902.000000                 NaN      10.000000  ...
75%           NaN  902.000000                 NaN     130.000000  ...
max           NaN  999.000000                 NaN  184290.000000  ...

                 2004           2005           2006           2007  \
count      448.000000     448.000000     448.000000     448.000000
unique            NaN            NaN            NaN            NaN
top               NaN            NaN            NaN            NaN
freq              NaN            NaN            NaN            NaN
mean      2514.241071    2545.357143    2709.866071    3023.348214
std      19834.528214   20203.441660   21786.641444   24542.748186
min          0.000000       0.000000       0.000000       0.000000
25%         10.000000      10.000000      10.000000      10.000000
50%         50.000000      50.000000      60.000000      70.000000
75%        400.000000     410.000000     455.000000     480.000000
max     350990.000000  363470.000000  402210.000000  460650.000000

                 2008  2009  2010  2011  2012  2013
count      448.000000   448   448   448   448   448
unique            NaN     1     1     1     1     1
top               NaN    ..    ..    ..    ..    ..
freq              NaN   448   448   448   448   448
mean      3376.116071   NaN   NaN   NaN   NaN   NaN
std      27950.462893   NaN   NaN   NaN   NaN   NaN
min          0.000000   NaN   NaN   NaN   NaN   NaN
25%         10.000000   NaN   NaN   NaN   NaN   NaN
50%         75.000000   NaN   NaN   NaN   NaN   NaN
75%        512.500000   NaN   NaN   NaN   NaN   NaN
max     535970.000000   NaN   NaN   NaN   NaN   NaN

[11 rows x 43 columns]

<bound method Series.unique of 0                                 Asia
1                               Europe
2                               Africa
3                              Oceania
4                               Europe
5                               Africa
6      Latin America and the Caribbean
7      Latin America and the Caribbean
8      Latin America and the Caribbean
9                                 Asia
10     Latin America and the Caribbean
11                             Oceania
12                              Europe
13                                Asia
14     Latin America and the Caribbean
15                                Asia
16                                Asia
17     Latin America and the Caribbean
18                              Europe
19                              Europe
20     Latin America and the Caribbean
21                              Africa
22                    Northern America
23                                Asia
24     Latin America and the Caribbean
25                              Europe
26                              Africa
27     Latin America and the Caribbean
28     Latin America and the Caribbean
29                                Asia
                    ...
418                             Europe
419                               Asia
420                             Africa
421                            Oceania
422                            Oceania
423    Latin America and the Caribbean
424                             Africa
425                               Asia
426                               Asia
427    Latin America and the Caribbean
428                            Oceania
429                             Africa
430                             Europe
431                               Asia
432                             Europe
433                             Africa
434                   Northern America
435    Latin America and the Caribbean
436    Latin America and the Caribbean
437                               Asia
438                            Oceania
439    Latin America and the Caribbean
440                               Asia
441                            Oceania
442                             Africa
443                               Asia
444                             Africa
445                             Africa
446                              World
447                              World
Name: AreaName, Length: 448, dtype: object>

In [14]:
print(df.columns)
print(df.AreaName.unique())
print(df['AreaName'].unique())
print(df.loc[:,'AreaName'].unique())

Index([    'Type', 'Coverage',   'OdName',     'AREA', 'AreaName',      'REG',
        'RegName',      'DEV',  'DevName',       1980,       1981,       1982,
             1983,       1984,       1985,       1986,       1987,       1988,
             1989,       1990,       1991,       1992,       1993,       1994,
             1995,       1996,       1997,       1998,       1999,       2000,
             2001,       2002,       2003,       2004,       2005,       2006,
             2007,       2008,       2009,       2010,       2011,       2012,
             2013],
      dtype='object')
['Asia' 'Europe' 'Africa' 'Oceania' 'Latin America and the Caribbean'
 'Northern America' 'World']
['Asia' 'Europe' 'Africa' 'Oceania' 'Latin America and the Caribbean'
 'Northern America' 'World']
['Asia' 'Europe' 'Africa' 'Oceania' 'Latin America and the Caribbean'
 'Northern America' 'World']

In [19]:
# for numeric we have to use these syntax
print(df[1980].sum()) 
print(df.loc[:,1980].sum())

SyntaxError: invalid syntax (<ipython-input-19-90f92b5c9a75>, line 3)

In [4]:
# convert all column headers to string type....
print(df.columns)

new_col = [str(col) for col in df.columns]
print(new_col)

d = dict(zip(df.columns, new_col))
print(d)

df.rename(columns = d, inplace = True)
print(df)

Index([    'Type', 'Coverage',   'OdName',     'AREA', 'AreaName',      'REG',
        'RegName',      'DEV',  'DevName',       1980,       1981,       1982,
             1983,       1984,       1985,       1986,       1987,       1988,
             1989,       1990,       1991,       1992,       1993,       1994,
             1995,       1996,       1997,       1998,       1999,       2000,
             2001,       2002,       2003,       2004,       2005,       2006,
             2007,       2008,       2009,       2010,       2011,       2012,
             2013],
      dtype='object')
['Type', 'Coverage', 'OdName', 'AREA', 'AreaName', 'REG', 'RegName', 'DEV', 'DevName', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013']
{'Type': 'Type', 'Coverage': 'Coverage', 'OdName': 'OdName', 'AREA': 'AREA', 'AreaName': 'AreaName', 'REG': 'REG', 'RegName': 'RegName', 'DEV': 'DEV', 'DevName': 'DevName', 1980: '1980', 1981: '1981', 1982: '1982', 1983: '1983', 1984: '1984', 1985: '1985', 1986: '1986', 1987: '1987', 1988: '1988', 1989: '1989', 1990: '1990', 1991: '1991', 1992: '1992', 1993: '1993', 1994: '1994', 1995: '1995', 1996: '1996', 1997: '1997', 1998: '1998', 1999: '1999', 2000: '2000', 2001: '2001', 2002: '2002', 2003: '2003', 2004: '2004', 2005: '2005', 2006: '2006', 2007: '2007', 2008: '2008', 2009: '2009', 2010: '2010', 2011: '2011', 2012: '2012', 2013: '2013'}
           Type Coverage                                             OdName  \
0     Emigrants     Both                                        Afghanistan
1     Emigrants     Both                                            Albania
2     Emigrants     Both                                            Algeria
3     Emigrants     Both                                     American Samoa
4     Emigrants     Both                                            Andorra
5     Emigrants     Both                                             Angola
6     Emigrants     Both                                           Anguilla
7     Emigrants     Both                                Antigua and Barbuda
8     Emigrants     Both                                          Argentina
9     Emigrants     Both                                            Armenia
10    Emigrants     Both                                              Aruba
11    Emigrants     Both                                          Australia
12    Emigrants     Both                                            Austria
13    Emigrants     Both                                         Azerbaijan
14    Emigrants     Both                                            Bahamas
15    Emigrants     Both                                            Bahrain
16    Emigrants     Both                                         Bangladesh
17    Emigrants     Both                                           Barbados
18    Emigrants     Both                                            Belarus
19    Emigrants     Both                                            Belgium
20    Emigrants     Both                                             Belize
21    Emigrants     Both                                              Benin
22    Emigrants     Both                                            Bermuda
23    Emigrants     Both                                             Bhutan
24    Emigrants     Both                   Bolivia (Plurinational State of)
25    Emigrants     Both                             Bosnia and Herzegovina
26    Emigrants     Both                                           Botswana
27    Emigrants     Both                                             Brazil
28    Emigrants     Both                             British Virgin Islands
29    Emigrants     Both                                  Brunei Darussalam
..          ...      ...                                                ...
418  Immigrants     Both          The former Yugoslav Republic of Macedonia
419  Immigrants     Both                                        Timor-Leste
420  Immigrants     Both                                               Togo
421  Immigrants     Both                                            Tokelau
422  Immigrants     Both                                              Tonga
423  Immigrants     Both                                Trinidad and Tobago
424  Immigrants     Both                                            Tunisia
425  Immigrants     Both                                             Turkey
426  Immigrants     Both                                       Turkmenistan
427  Immigrants     Both                           Turks and Caicos Islands
428  Immigrants     Both                                             Tuvalu
429  Immigrants     Both                                             Uganda
430  Immigrants     Both                                            Ukraine
431  Immigrants     Both                               United Arab Emirates
432  Immigrants     Both  United Kingdom of Great Britain and Northern I...
433  Immigrants     Both                        United Republic of Tanzania
434  Immigrants     Both                           United States of America
435  Immigrants     Both                       United States Virgin Islands
436  Immigrants     Both                                            Uruguay
437  Immigrants     Both                                         Uzbekistan
438  Immigrants     Both                                            Vanuatu
439  Immigrants     Both                 Venezuela (Bolivarian Republic of)
440  Immigrants     Both                                           Viet Nam
441  Immigrants     Both                          Wallis and Futuna Islands
442  Immigrants     Both                                     Western Sahara
443  Immigrants     Both                                              Yemen
444  Immigrants     Both                                             Zambia
445  Immigrants     Both                                           Zimbabwe
446  Immigrants     Both                                            Unknown
447  Immigrants     Both                                              Total

     AREA                         AreaName   REG                    RegName  \
0     935                             Asia  5501              Southern Asia
1     908                           Europe   925            Southern Europe
2     903                           Africa   912            Northern Africa
3     909                          Oceania   957                  Polynesia
4     908                           Europe   925            Southern Europe
5     903                           Africa   911              Middle Africa
6     904  Latin America and the Caribbean   915                  Caribbean
7     904  Latin America and the Caribbean   915                  Caribbean
8     904  Latin America and the Caribbean   931              South America
9     935                             Asia   922               Western Asia
10    904  Latin America and the Caribbean   915                  Caribbean
11    909                          Oceania   927  Australia and New Zealand
12    908                           Europe   926             Western Europe
13    935                             Asia   922               Western Asia
14    904  Latin America and the Caribbean   915                  Caribbean
15    935                             Asia   922               Western Asia
16    935                             Asia  5501              Southern Asia
17    904  Latin America and the Caribbean   915                  Caribbean
18    908                           Europe   923             Eastern Europe
19    908                           Europe   926             Western Europe
20    904  Latin America and the Caribbean   916            Central America
21    903                           Africa   914             Western Africa
22    905                 Northern America   905           Northern America
23    935                             Asia  5501              Southern Asia
24    904  Latin America and the Caribbean   931              South America
25    908                           Europe   925            Southern Europe
26    903                           Africa   913            Southern Africa
27    904  Latin America and the Caribbean   931              South America
28    904  Latin America and the Caribbean   915                  Caribbean
29    935                             Asia   920         South-Eastern Asia
..    ...                              ...   ...                        ...
418   908                           Europe   925            Southern Europe
419   935                             Asia   920         South-Eastern Asia
420   903                           Africa   914             Western Africa
421   909                          Oceania   957                  Polynesia
422   909                          Oceania   957                  Polynesia
423   904  Latin America and the Caribbean   915                  Caribbean
424   903                           Africa   912            Northern Africa
425   935                             Asia   922               Western Asia
426   935                             Asia  5500               Central Asia
427   904  Latin America and the Caribbean   915                  Caribbean
428   909                          Oceania   957                  Polynesia
429   903                           Africa   910             Eastern Africa
430   908                           Europe   923             Eastern Europe
431   935                             Asia   922               Western Asia
432   908                           Europe   924            Northern Europe
433   903                           Africa   910             Eastern Africa
434   905                 Northern America   905           Northern America
435   904  Latin America and the Caribbean   915                  Caribbean
436   904  Latin America and the Caribbean   931              South America
437   935                             Asia  5500               Central Asia
438   909                          Oceania   928                  Melanesia
439   904  Latin America and the Caribbean   931              South America
440   935                             Asia   920         South-Eastern Asia
441   909                          Oceania   957                  Polynesia
442   903                           Africa   912            Northern Africa
443   935                             Asia   922               Western Asia
444   903                           Africa   910             Eastern Africa
445   903                           Africa   910             Eastern Africa
446   999                            World   999                      World
447   999                            World   999                      World

     DEV             DevName    1980  ...    2004    2005    2006    2007  \
0    902  Developing regions       0  ...      80     120      70      80
1    901   Developed regions       0  ...      30      40      30      30
2    902  Developing regions      20  ...      20      20      30      40
3    902  Developing regions      10  ...       0       0       0       0
4    901   Developed regions       0  ...       0       0       0       0
5    902  Developing regions       0  ...      20      10      10      20
6    902  Developing regions       0  ...       0       0       0       0
7    902  Developing regions       0  ...       0       0       0       0
8    902  Developing regions     280  ...     380     360     370     360
9    902  Developing regions       0  ...      20      20      20      10
10   902  Developing regions       0  ...       0       0       0       0
11   901   Developed regions     320  ...      30      20      10      10
12   901   Developed regions     270  ...     900     860     900     480
13   902  Developing regions       0  ...      20      10      20      20
14   902  Developing regions      10  ...      20      10      10      20
15   902  Developing regions      60  ...     340     360     340     270
16   902  Developing regions     220  ...     480     540     480     500
17   902  Developing regions       0  ...       0       0      10      20
18   901   Developed regions       0  ...      20      10      10      10
19   901   Developed regions     130  ...     240     180     190     230
20   902  Developing regions       0  ...      10       0       0       0
21   902  Developing regions       0  ...       0       0       0       0
22   901   Developed regions      10  ...      30      10      30      40
23   902  Developing regions      10  ...      30      60      80      70
24   902  Developing regions      10  ...      20      30      30      30
25   901   Developed regions       0  ...     170     160     150     160
26   902  Developing regions      10  ...     140     200     230     140
27   902  Developing regions     160  ...     630     540     750     780
28   902  Developing regions       0  ...       0       0       0      10
29   902  Developing regions     100  ...     580     410     430     400
..   ...                 ...     ...  ...     ...     ...     ...     ...
418  901   Developed regions       0  ...     500     510     610     650
419  902  Developing regions       0  ...     280     170     970     450
420  902  Developing regions       0  ...       0       0      10       0
421  902  Developing regions       0  ...      10      10      30      10
422  902  Developing regions     130  ...     330     330     350     390
423  902  Developing regions      20  ...      30      40      60      30
424  902  Developing regions       0  ...      10       0      30      20
425  902  Developing regions    1500  ...    1850    1720    1690    1860
426  902  Developing regions       0  ...       0       0       0       0
427  902  Developing regions       0  ...       0       0       0       0
428  902  Developing regions      10  ...      30      20      20      20
429  902  Developing regions      40  ...     770     670     930     820
430  901   Developed regions       0  ...     360     420     360     410
431  902  Developing regions      40  ...    2760    3660    4680    3760
432  901   Developed regions   43540  ...   53140   53300   57250   61490
433  902  Developing regions      70  ...     200     930     890    1280
434  901   Developed regions   10470  ...   18540   18490   17320   19260
435  902  Developing regions       0  ...       0       0       0       0
436  902  Developing regions     310  ...      80     110      90      90
437  902  Developing regions       0  ...      80      70      60      80
438  902  Developing regions     150  ...     400     350     390     400
439  902  Developing regions      90  ...     130     180     160     160
440  902  Developing regions     130  ...    4500    5110    6610    8310
441  902  Developing regions       0  ...      10       0       0       0
442  902  Developing regions       0  ...       0       0       0       0
443  902  Developing regions      10  ...      40      20      10      40
444  902  Developing regions     150  ...     370     240     410     410
445  902  Developing regions     630  ...    1790    1560    1880    2180
446  999               World    4060  ...    1650    1800    2320   18310
447  999               World  184290  ...  350990  363470  402210  460650

       2008  2009  2010  2011  2012  2013
0       120    ..    ..    ..    ..    ..
1        30    ..    ..    ..    ..    ..
2        50    ..    ..    ..    ..    ..
3         0    ..    ..    ..    ..    ..
4         0    ..    ..    ..    ..    ..
5        10    ..    ..    ..    ..    ..
6         0    ..    ..    ..    ..    ..
7         0    ..    ..    ..    ..    ..
8       460    ..    ..    ..    ..    ..
9        10    ..    ..    ..    ..    ..
10        0    ..    ..    ..    ..    ..
11      810    ..    ..    ..    ..    ..
12      360    ..    ..    ..    ..    ..
13       10    ..    ..    ..    ..    ..
14       10    ..    ..    ..    ..    ..
15      150    ..    ..    ..    ..    ..
16      530    ..    ..    ..    ..    ..
17        0    ..    ..    ..    ..    ..
18       20    ..    ..    ..    ..    ..
19      250    ..    ..    ..    ..    ..
20        0    ..    ..    ..    ..    ..
21        0    ..    ..    ..    ..    ..
22       10    ..    ..    ..    ..    ..
23      100    ..    ..    ..    ..    ..
24       30    ..    ..    ..    ..    ..
25      170    ..    ..    ..    ..    ..
26      110    ..    ..    ..    ..    ..
27     1010    ..    ..    ..    ..    ..
28        0    ..    ..    ..    ..    ..
29      420    ..    ..    ..    ..    ..
..      ...   ...   ...   ...   ...   ...
418     660    ..    ..    ..    ..    ..
419     370    ..    ..    ..    ..    ..
420      30    ..    ..    ..    ..    ..
421      20    ..    ..    ..    ..    ..
422     640    ..    ..    ..    ..    ..
423      60    ..    ..    ..    ..    ..
424      10    ..    ..    ..    ..    ..
425    2080    ..    ..    ..    ..    ..
426       0    ..    ..    ..    ..    ..
427       0    ..    ..    ..    ..    ..
428      10    ..    ..    ..    ..    ..
429     460    ..    ..    ..    ..    ..
430     420    ..    ..    ..    ..    ..
431    4160    ..    ..    ..    ..    ..
432   65160    ..    ..    ..    ..    ..
433     760    ..    ..    ..    ..    ..
434   20860    ..    ..    ..    ..    ..
435       0    ..    ..    ..    ..    ..
436     100    ..    ..    ..    ..    ..
437     110    ..    ..    ..    ..    ..
438     400    ..    ..    ..    ..    ..
439     250    ..    ..    ..    ..    ..
440   11210    ..    ..    ..    ..    ..
441       0    ..    ..    ..    ..    ..
442       0    ..    ..    ..    ..    ..
443      40    ..    ..    ..    ..    ..
444     400    ..    ..    ..    ..    ..
445    2270    ..    ..    ..    ..    ..
446    4970    ..    ..    ..    ..    ..
447  535970    ..    ..    ..    ..    ..

[448 rows x 43 columns]

In [28]:
print(df.columns)
df['1980']

Index(['Type', 'Coverage', 'OdName', 'AREA', 'AreaName', 'REG', 'RegName',
       'DEV', 'DevName', '1980', '1981', '1982', '1983', '1984', '1985',
       '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994',
       '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003',
       '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013'],
      dtype='object')

0           0
1           0
2          20
3          10
4           0
5           0
6           0
7           0
8         280
9           0
10          0
11        320
12        270
13          0
14         10
15         60
16        220
17          0
18          0
19        130
20          0
21          0
22         10
23         10
24         10
25          0
26         10
27        160
28          0
29        100
        ...
418         0
419         0
420         0
421         0
422       130
423        20
424         0
425      1500
426         0
427         0
428        10
429        40
430         0
431        40
432     43540
433        70
434     10470
435         0
436       310
437         0
438       150
439        90
440       130
441         0
442         0
443        10
444       150
445       630
446      4060
447    184290
Name: 1980, Length: 448, dtype: int64

In [47]:
# select all the 'Emigrants'

print(df[df.Type == 'Emigrants'].index)
print(df[df.Type == 'Emigrants'])

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            214, 215, 216, 217, 218, 219, 220, 221, 222, 223],
           dtype='int64', length=224)
          Type Coverage                                             OdName  \
0    Emigrants     Both                                        Afghanistan
1    Emigrants     Both                                            Albania
2    Emigrants     Both                                            Algeria
3    Emigrants     Both                                     American Samoa
4    Emigrants     Both                                            Andorra
5    Emigrants     Both                                             Angola
6    Emigrants     Both                                           Anguilla
7    Emigrants     Both                                Antigua and Barbuda
8    Emigrants     Both                                          Argentina
9    Emigrants     Both                                            Armenia
10   Emigrants     Both                                              Aruba
11   Emigrants     Both                                          Australia
12   Emigrants     Both                                            Austria
13   Emigrants     Both                                         Azerbaijan
14   Emigrants     Both                                            Bahamas
15   Emigrants     Both                                            Bahrain
16   Emigrants     Both                                         Bangladesh
17   Emigrants     Both                                           Barbados
18   Emigrants     Both                                            Belarus
19   Emigrants     Both                                            Belgium
20   Emigrants     Both                                             Belize
21   Emigrants     Both                                              Benin
22   Emigrants     Both                                            Bermuda
23   Emigrants     Both                                             Bhutan
24   Emigrants     Both                   Bolivia (Plurinational State of)
25   Emigrants     Both                             Bosnia and Herzegovina
26   Emigrants     Both                                           Botswana
27   Emigrants     Both                                             Brazil
28   Emigrants     Both                             British Virgin Islands
29   Emigrants     Both                                  Brunei Darussalam
..         ...      ...                                                ...
194  Emigrants     Both          The former Yugoslav Republic of Macedonia
195  Emigrants     Both                                        Timor-Leste
196  Emigrants     Both                                               Togo
197  Emigrants     Both                                            Tokelau
198  Emigrants     Both                                              Tonga
199  Emigrants     Both                                Trinidad and Tobago
200  Emigrants     Both                                            Tunisia
201  Emigrants     Both                                             Turkey
202  Emigrants     Both                                       Turkmenistan
203  Emigrants     Both                           Turks and Caicos Islands
204  Emigrants     Both                                             Tuvalu
205  Emigrants     Both                                             Uganda
206  Emigrants     Both                                            Ukraine
207  Emigrants     Both                               United Arab Emirates
208  Emigrants     Both  United Kingdom of Great Britain and Northern I...
209  Emigrants     Both                        United Republic of Tanzania
210  Emigrants     Both                           United States of America
211  Emigrants     Both                       United States Virgin Islands
212  Emigrants     Both                                            Uruguay
213  Emigrants     Both                                         Uzbekistan
214  Emigrants     Both                                            Vanuatu
215  Emigrants     Both                 Venezuela (Bolivarian Republic of)
216  Emigrants     Both                                           Viet Nam
217  Emigrants     Both                          Wallis and Futuna Islands
218  Emigrants     Both                                     Western Sahara
219  Emigrants     Both                                              Yemen
220  Emigrants     Both                                             Zambia
221  Emigrants     Both                                           Zimbabwe
222  Emigrants     Both                                            Unknown
223  Emigrants     Both                                              Total

     AREA                         AreaName   REG                    RegName  \
0     935                             Asia  5501              Southern Asia
1     908                           Europe   925            Southern Europe
2     903                           Africa   912            Northern Africa
3     909                          Oceania   957                  Polynesia
4     908                           Europe   925            Southern Europe
5     903                           Africa   911              Middle Africa
6     904  Latin America and the Caribbean   915                  Caribbean
7     904  Latin America and the Caribbean   915                  Caribbean
8     904  Latin America and the Caribbean   931              South America
9     935                             Asia   922               Western Asia
10    904  Latin America and the Caribbean   915                  Caribbean
11    909                          Oceania   927  Australia and New Zealand
12    908                           Europe   926             Western Europe
13    935                             Asia   922               Western Asia
14    904  Latin America and the Caribbean   915                  Caribbean
15    935                             Asia   922               Western Asia
16    935                             Asia  5501              Southern Asia
17    904  Latin America and the Caribbean   915                  Caribbean
18    908                           Europe   923             Eastern Europe
19    908                           Europe   926             Western Europe
20    904  Latin America and the Caribbean   916            Central America
21    903                           Africa   914             Western Africa
22    905                 Northern America   905           Northern America
23    935                             Asia  5501              Southern Asia
24    904  Latin America and the Caribbean   931              South America
25    908                           Europe   925            Southern Europe
26    903                           Africa   913            Southern Africa
27    904  Latin America and the Caribbean   931              South America
28    904  Latin America and the Caribbean   915                  Caribbean
29    935                             Asia   920         South-Eastern Asia
..    ...                              ...   ...                        ...
194   908                           Europe   925            Southern Europe
195   935                             Asia   920         South-Eastern Asia
196   903                           Africa   914             Western Africa
197   909                          Oceania   957                  Polynesia
198   909                          Oceania   957                  Polynesia
199   904  Latin America and the Caribbean   915                  Caribbean
200   903                           Africa   912            Northern Africa
201   935                             Asia   922               Western Asia
202   935                             Asia  5500               Central Asia
203   904  Latin America and the Caribbean   915                  Caribbean
204   909                          Oceania   957                  Polynesia
205   903                           Africa   910             Eastern Africa
206   908                           Europe   923             Eastern Europe
207   935                             Asia   922               Western Asia
208   908                           Europe   924            Northern Europe
209   903                           Africa   910             Eastern Africa
210   905                 Northern America   905           Northern America
211   904  Latin America and the Caribbean   915                  Caribbean
212   904  Latin America and the Caribbean   931              South America
213   935                             Asia  5500               Central Asia
214   909                          Oceania   928                  Melanesia
215   904  Latin America and the Caribbean   931              South America
216   935                             Asia   920         South-Eastern Asia
217   909                          Oceania   957                  Polynesia
218   903                           Africa   912            Northern Africa
219   935                             Asia   922               Western Asia
220   903                           Africa   910             Eastern Africa
221   903                           Africa   910             Eastern Africa
222   999                            World   999                      World
223   999                            World   999                      World

     DEV             DevName   1980  ...    2004    2005    2006    2007  \
0    902  Developing regions      0  ...      80     120      70      80
1    901   Developed regions      0  ...      30      40      30      30
2    902  Developing regions     20  ...      20      20      30      40
3    902  Developing regions     10  ...       0       0       0       0
4    901   Developed regions      0  ...       0       0       0       0
5    902  Developing regions      0  ...      20      10      10      20
6    902  Developing regions      0  ...       0       0       0       0
7    902  Developing regions      0  ...       0       0       0       0
8    902  Developing regions    280  ...     380     360     370     360
9    902  Developing regions      0  ...      20      20      20      10
10   902  Developing regions      0  ...       0       0       0       0
11   901   Developed regions    320  ...      30      20      10      10
12   901   Developed regions    270  ...     900     860     900     480
13   902  Developing regions      0  ...      20      10      20      20
14   902  Developing regions     10  ...      20      10      10      20
15   902  Developing regions     60  ...     340     360     340     270
16   902  Developing regions    220  ...     480     540     480     500
17   902  Developing regions      0  ...       0       0      10      20
18   901   Developed regions      0  ...      20      10      10      10
19   901   Developed regions    130  ...     240     180     190     230
20   902  Developing regions      0  ...      10       0       0       0
21   902  Developing regions      0  ...       0       0       0       0
22   901   Developed regions     10  ...      30      10      30      40
23   902  Developing regions     10  ...      30      60      80      70
24   902  Developing regions     10  ...      20      30      30      30
25   901   Developed regions      0  ...     170     160     150     160
26   902  Developing regions     10  ...     140     200     230     140
27   902  Developing regions    160  ...     630     540     750     780
28   902  Developing regions      0  ...       0       0       0      10
29   902  Developing regions    100  ...     580     410     430     400
..   ...                 ...    ...  ...     ...     ...     ...     ...
194  901   Developed regions      0  ...     310     270     260     280
195  902  Developing regions      0  ...     390     260     590     560
196  902  Developing regions      0  ...       0       0       0       0
197  902  Developing regions      0  ...      10       0       0      10
198  902  Developing regions    110  ...     330     290     260     270
199  902  Developing regions     20  ...      10      10      20      10
200  902  Developing regions      0  ...      10      10      10      10
201  902  Developing regions    230  ...     900     870     990     890
202  902  Developing regions      0  ...       0       0       0       0
203  902  Developing regions      0  ...       0       0       0       0
204  902  Developing regions     10  ...      10      10      10      10
205  902  Developing regions     10  ...      40      70      40      50
206  901   Developed regions      0  ...     120     140     100     130
207  902  Developing regions     20  ...    1700    1940    2370    3510
208  901   Developed regions  20700  ...   37220   32650   32020   31710
209  902  Developing regions     60  ...     150     120     140     110
210  901   Developed regions   9050  ...   15430   14830   15050   17360
211  902  Developing regions      0  ...       0       0       0       0
212  902  Developing regions    120  ...     120      80      80      80
213  902  Developing regions      0  ...      10      30      20      20
214  902  Developing regions    150  ...     530     540     490     490
215  902  Developing regions     50  ...      60      50      50      40
216  902  Developing regions     10  ...    2080    2070    2170    2690
217  902  Developing regions      0  ...       0       0       0       0
218  902  Developing regions      0  ...       0       0       0       0
219  902  Developing regions      0  ...      30      20      30      20
220  902  Developing regions     80  ...      90     110     100     100
221  902  Developing regions     80  ...     130     110     100     130
222  999               World   2550  ...    7870    9310    8580   10460
223  999               World  90860  ...  212200  206690  204800  216580

       2008  2009  2010  2011  2012  2013
0       120    ..    ..    ..    ..    ..
1        30    ..    ..    ..    ..    ..
2        50    ..    ..    ..    ..    ..
3         0    ..    ..    ..    ..    ..
4         0    ..    ..    ..    ..    ..
5        10    ..    ..    ..    ..    ..
6         0    ..    ..    ..    ..    ..
7         0    ..    ..    ..    ..    ..
8       460    ..    ..    ..    ..    ..
9        10    ..    ..    ..    ..    ..
10        0    ..    ..    ..    ..    ..
11      810    ..    ..    ..    ..    ..
12      360    ..    ..    ..    ..    ..
13       10    ..    ..    ..    ..    ..
14       10    ..    ..    ..    ..    ..
15      150    ..    ..    ..    ..    ..
16      530    ..    ..    ..    ..    ..
17        0    ..    ..    ..    ..    ..
18       20    ..    ..    ..    ..    ..
19      250    ..    ..    ..    ..    ..
20        0    ..    ..    ..    ..    ..
21        0    ..    ..    ..    ..    ..
22       10    ..    ..    ..    ..    ..
23      100    ..    ..    ..    ..    ..
24       30    ..    ..    ..    ..    ..
25      170    ..    ..    ..    ..    ..
26      110    ..    ..    ..    ..    ..
27     1010    ..    ..    ..    ..    ..
28        0    ..    ..    ..    ..    ..
29      420    ..    ..    ..    ..    ..
..      ...   ...   ...   ...   ...   ...
194     250    ..    ..    ..    ..    ..
195     450    ..    ..    ..    ..    ..
196       0    ..    ..    ..    ..    ..
197      10    ..    ..    ..    ..    ..
198     250    ..    ..    ..    ..    ..
199      10    ..    ..    ..    ..    ..
200      10    ..    ..    ..    ..    ..
201     930    ..    ..    ..    ..    ..
202       0    ..    ..    ..    ..    ..
203       0    ..    ..    ..    ..    ..
204      10    ..    ..    ..    ..    ..
205      50    ..    ..    ..    ..    ..
206     100    ..    ..    ..    ..    ..
207    4270    ..    ..    ..    ..    ..
208   28610    ..    ..    ..    ..    ..
209     120    ..    ..    ..    ..    ..
210   15760    ..    ..    ..    ..    ..
211       0    ..    ..    ..    ..    ..
212     100    ..    ..    ..    ..    ..
213      10    ..    ..    ..    ..    ..
214     560    ..    ..    ..    ..    ..
215      50    ..    ..    ..    ..    ..
216    2800    ..    ..    ..    ..    ..
217       0    ..    ..    ..    ..    ..
218       0    ..    ..    ..    ..    ..
219      10    ..    ..    ..    ..    ..
220     110    ..    ..    ..    ..    ..
221     110    ..    ..    ..    ..    ..
222    7360    ..    ..    ..    ..    ..
223  220280    ..    ..    ..    ..    ..

[224 rows x 43 columns]

In [6]:
import numpy as np
idx0 = np.where(df.Type == 'Emigrants')
print(idx0)
dd = df.drop(idx0[0], axis = 0)
print(dd.head())

print('\n'*8)

idx1 = df[df.Type == 'Emigrants'].index
dd = df.drop(idx1, inplace = True)
print(dd.head())

d2 = df[df.Type == 'Emigrants']

(array([], dtype=int64),)
           Type Coverage          OdName  AREA AreaName   REG  \
224  Immigrants     Both     Afghanistan   935     Asia  5501
225  Immigrants     Both         Albania   908   Europe   925
226  Immigrants     Both         Algeria   903   Africa   912
227  Immigrants     Both  American Samoa   909  Oceania   957
228  Immigrants     Both         Andorra   908   Europe   925

             RegName  DEV             DevName  1980  ...  2004  2005  2006  \
224    Southern Asia  902  Developing regions    10  ...    80   110   180
225  Southern Europe  901   Developed regions     0  ...   140   130   110
226  Northern Africa  902  Developing regions    10  ...    20    50    30
227        Polynesia  902  Developing regions     0  ...     0     0     0
228  Southern Europe  901   Developed regions     0  ...    10    10     0

     2007  2008  2009  2010  2011  2012  2013
224   140   560    ..    ..    ..    ..    ..
225   110   140    ..    ..    ..    ..    ..
226    30    60    ..    ..    ..    ..    ..
227     0    10    ..    ..    ..    ..    ..
228    10    10    ..    ..    ..    ..    ..

[5 rows x 43 columns]

AttributeError: 'NoneType' object has no attribute 'head'

In [51]:
df.to_excel('Australia_modified.xlsx')

In [53]:
r = df.loc[:, '1980':'2009'].sum(axis = 1)
print(r)

224       4630
225       1910
226        730
227         30
228        100
229        170
230          0
231         80
232      14660
233        560
234         10
235       3690
236      35260
237        310
238        450
239       5510
240      30270
241        330
242        650
243      10560
244         40
245        350
246        830
247        850
248       1040
249      12380
250       5550
251      23000
252         70
253      16230
        ...
418       9630
419       2840
420         40
421        110
422       9780
423        870
424        280
425      55890
426         10
427          0
428        730
429       5260
430       7250
431      35270
432    1333340
433       6580
434     450370
435          0
436       5200
437        820
438       6400
439       2990
440     119060
441         10
442          0
443        570
444       5590
445      27350
446     141660
447    7965110
Length: 224, dtype: int64

In [55]:
df1 = pd.read_excel('https://github.com/tuteurpy/weekday_2019_07_04/blob/master/Australia.xlsx?raw=true')
df1.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,United Nations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Population Division,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
# count of unique values
t = df.AreaName.value_counts()
print(t)
print(type(t))

# used for plotting
print(t.Africa)
print(t.index)
print(t.values)

Africa                             56
Asia                               51
Latin America and the Caribbean    45
Europe                             43
Oceania                            23
Northern America                    4
World                               2
Name: AreaName, dtype: int64
<class 'pandas.core.series.Series'>
56
Index(['Africa', 'Asia', 'Latin America and the Caribbean', 'Europe',
       'Oceania', 'Northern America', 'World'],
      dtype='object')
[56 51 45 43 23  4  2]

In [74]:
grp = df.groupby(['AREA','DevName'])
print(grp)
print(grp.groups)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000221A8B9B5F8>
{(903, 'Developing regions'): Int64Index([226, 229, 245, 250, 255, 256, 257, 259, 262, 263, 270, 271, 274,
            280, 282, 286, 288, 289, 291, 299, 300, 303, 311, 312, 330, 337,
            338, 339, 343, 344, 347, 351, 352, 353, 359, 360, 362, 369, 370,
            388, 391, 392, 398, 399, 400, 405, 406, 410, 412, 420, 424, 429,
            433, 442, 444, 445],
           dtype='int64'), (904, 'Developing regions'): Int64Index([230, 231, 232, 234, 238, 241, 244, 248, 251, 252, 261, 264, 269,
            273, 276, 283, 284, 285, 287, 293, 297, 307, 308, 310, 313, 314,
            316, 326, 350, 354, 358, 368, 377, 379, 380, 384, 393, 394, 395,
            411, 423, 427, 435, 436, 439],
           dtype='int64'), (905, 'Developed regions'): Int64Index([246, 260, 306, 434], dtype='int64'), (908, 'Developed regions'): Int64Index([225, 228, 236, 242, 243, 249, 254, 275, 278, 281, 290, 292, 295,
            296, 302, 304, 305, 315, 317, 318, 323, 325, 335, 340, 341, 342,
            348, 356, 365, 373, 382, 383, 387, 389, 390, 402, 403, 407, 413,
            414, 418, 430, 432],
           dtype='int64'), (909, 'Developed regions'): Int64Index([235, 367], dtype='int64'), (909, 'Developing regions'): Int64Index([227, 272, 294, 298, 309, 331, 349, 355, 363, 366, 371, 372, 376,
            378, 396, 404, 421, 422, 428, 438, 441],
           dtype='int64'), (935, 'Developed regions'): Int64Index([327], dtype='int64'), (935, 'Developing regions'): Int64Index([224, 233, 237, 239, 240, 247, 253, 258, 265, 266, 267, 268, 277,
            279, 301, 319, 320, 321, 322, 324, 328, 329, 332, 333, 334, 336,
            345, 346, 357, 361, 364, 374, 375, 381, 385, 386, 397, 401, 408,
            409, 415, 416, 417, 419, 425, 426, 431, 437, 440, 443],
           dtype='int64'), (999, 'World'): Int64Index([446, 447], dtype='int64')}